@import 'vars';
@import 'mixins';
@import 'extends';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

html, body {
    min-height: 100vh;
    font-family: $font_family_main;
}

.container {
    max-width: $container_width;
    margin: 0 auto;
    margin-top: 121px;
}
.head {
    margin-bottom: 40px;
    text-align: center;
    max-width: $container_width;
    margin: 0 auto;
    
    &__subtitle {
        @include title(18px, 500, 24px, center,normal);

        font-family: $font_family_main;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        color: #898F8F;
    }

    &__title {
        @include title(60px, 900, 66px, center,normal);

        position: relative;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FFCC00;
        padding-bottom: 40px;
        margin: 0;

        &::after, 
        &::before {
            content: '';
            position: absolute;
            bottom:-9%;
            width: 210px;
            height: 2px;
            background-color: #FFCC00;
        }
        &::after {
            left: 52%;
        }
        &::before{
            left: 29%; 
        }
    }
    &__img {
            display: inline-block;
    }
}

.slider {
    @include flex (space-between, wrap, relative);
        gap: 170px;
        margin: 0 70px;
        max-width: $container_width;

    &::before {
        content: '';
        position: absolute;
        border: 1px solid #FFCC00;
        transform: rotate(90deg);
        z-index: 1;

        @include size(50%, 23%, 560px, 0px);
    }
}
.left {
    @include flex (center, wrap, relative);
    align-items: center;
    width: 430px;
    margin: 65px 0;

        &__photo {
            width: 400px;
            height: 400px;
            position: relative;
            z-index: 3;
        }

        &::after {
            content: '';
            position: absolute;
            bottom:40%;
            top: 1%;
            left: 0%;
            width: 422px;
            height: 422px;
            background-color: #fff;
            transform: rotate(42deg);
            border:1px solid #fff;
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            bottom:50%;
            top: 3%;
            left: 0%;
            width: 430px;
            height: 430px;
            background-color: #ffcc0000;
            border:1px solid #FFCC00;
            transform: rotate(90deg);
        }
    }

.right {
    width: 430px;
    margin: 70px 0 70px 0;

        &__name {
            @include title(36px, 900, 42px, center,normal);
            position: relative;
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            color: $color_title;
            margin: 0 0 60px 0;

            &::before {
                content: '';
                position: absolute;
                bottom:-60%;
                left: 37%;
                width: 100px;
                border: 1px solid #FFCC00;
            }
        }

        &__profession {
            @include title(24px, 400, 36px, center,normal);

            font-family: $font_family_main;
            text-transform: capitalize;
            color: $color_title;
            margin: 0 0 30px 0;
        }
        &__text {
            @include title(14px, 500, 24px, center,normal);

            font-family: $font_family_main;
            color: #333333;
            margin-bottom: 20px;
            }
        }

.line {
    text-align: center;
    margin-bottom: 25px;

    &__big, 
    &__litl {
    @extend %line-size;}

    &__big {
    width: 20px;}
}

.block {
    margin-bottom: 49px;
}

.social {
    display: flex;
    gap: 5px;
    list-style: none;
    justify-content: center; 
}

.bmt {
    width: 118px;
    height: 24px;
    margin: 0 auto;

    &__right {
        @include title(14px, 700, 14px, center,normal);
        
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #666666;
        width: 118px;
        height: 24px;
        border: 1px solid #FFCC00;
    }
}